footer{
    position: relative;
    width: 100%;
    background-color: $main-clr;
    height: 120px;
    top: 1100px;
}
.footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo{
        display: flex;
        padding-top: 47px;
    }
    &__logo>h2{
        margin-left: 12px;
        color: $main-bg;
        font-size: 25px;
        font-weight: 900;
        font-family: $font-two;
    }
    &__menu{
        display: flex;
        width: 23%;
        justify-content: space-between;
        padding-top: 53px;

        &--list{
            list-style-type: none;
            text-transform: uppercase;
            font-size: 12px;
            &-link{
                text-decoration: none;
                font-family: $main-font;
                color: #83888F;
                font-weight: 700;
                line-height: 15px;
            }
            &-link:hover{
                color: $main-bg;
            }
        }
    }
    &__icons{
        padding-top: 47px;
    }
    &__icons>img{
        margin: 0px 12px;
    }
}